@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    font-family: "Zilla Slab" "Cairo", sans-serif;
}
body {
    background: rgb(255, 251, 251);
    /* background: linear-gradient(63deg, rgba(52, 52, 52, 1) 0%, rgba(170, 170, 172, 1) 50%, rgba(30, 35, 52, 1) 100%); */
}

/* nav */
nav {
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgba(211, 209, 209, 0.575);
    z-index: 10;
}
.logo-insta {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
}
.logo-insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 10px;
}
.logo-menu {
    position: absolute;
    top: 5px;
    right: 50px;
    width: 30px;
    height: 30px;
    z-index: 25;
    display: none;
}
.nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    z-index: 20;
}
.item-nav {
    display: flex;
    align-items: center;
}
.item-nav a {
    font-size: 22px;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
    color: black;
}

.item-nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.2s ease-in-out;
}
.item-nav a:hover::after {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .logo-menu {
        display: block;
    }
    .nav-list {
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        position: relative;
        background-color: rgba(95, 95, 95, 0.938);
        display: none;
    }
    .nav-list.active {
        display: block;
    }
    .item-nav {
        justify-content: center;
        height: 60px;
    }
    .item-nav a {
        color: rgb(255, 255, 255);
    }
    .item-nav a::after {
        background: #fbfcff;
    }
}
/* nav end*/
/* acceuil */

.accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.219)),
        left top 57% /100% no-repeat url(pictures/Lecube.jpg);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    box-shadow: 0px 25px 150px rgba(0, 0, 0, 0.616);
}
@media screen and (max-width: 800px) {
    .accueil {
        height: 50vh;
        width: auto;
    }
}
/* acceuil end */

/* presentation    */
.presentation-container {
    display: flex;
    flex-direction: column;
    /* margin: 25px auto; */
    padding: 50px 200px;
    margin-bottom: 15px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.753)),
        15% 30% / 150% no-repeat url(./pictures/TitanMini.jpg);
    background-attachment: fixed;
}
.presentation-container h2 {
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: rgb(241, 241, 234);
    margin-bottom: 30px;
    padding: 0 25px;
}

.presentation-container p {
    align-items: center;
    font-size: 1.05rem;
    color: rgb(233, 233, 223);
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
    text-align: center;
    font-family: "cairo", sans-serif;
}

@media only screen and (max-width: 1200px) {
    .presentation-container {
        padding: 50px 120px 50px 150px;
    }
}
@media only screen and (max-width: 800px) {
    .presentation-container {
        padding: 50px 50px 50px 50px;
        width: 100%;
        font-size: 1rem;
        margin: 25px auto;
    }
}
/* presentation end */

main {
    display: flex;
    align-items: center;
}
.title-lvl2 {
    color: rgb(161, 161, 160);
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
@media screen and (max-width: 800px) {
    .title-lvl2 {
        font-size: 2rem;
    }
}
/* citation */
.citation {
    text-align: center;
    font-size: 3rem;
    color: rgb(161, 161, 160);
    padding: 50px;
    width: 100%;
    margin: 50px 0;
}
@media screen and (max-width: 800px) {
    .citation {
        font-size: 1.6rem;
        margin: 20px 0;
    }
}
/* citation */
/* gallery oeuvre */
.container-all {
    width: fit-content;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-img {
    width: calc(33% - 6px);
    overflow: hidden;
    height: fit-content;
    margin: 30px;
    padding: 0;
    display: block;
    position: relative;
    float: left;
    padding: 5px;
    max-width: 443px;
    max-height: 565px;
    box-shadow: 5px 5px 10px black;
}
img {
    width: 100%;
    transition-duration: 0.3s;
    max-width: 443px;
    max-height: 555px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.title {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 45%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 1px 5px 10px black;
    transition-duration: 0.3s;
}
/* .text{
    position:absolute;
    top: 70%;
    cursor:pointer;
    max-width: 80%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) ;
  } */
.container-img:hover img {
    transform: scale(1.2);
    transition-duration: 0.3s;
    filter: grayscale(50%);
    opacity: 0.7;
}
.container-img:hover span {
    color: white;
    display: block;
    transition-duration: 0.3s;
}
@media only screen and (max-width: 900px) {
    .container-img {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container-img {
        width: 100%;
    }
}
/* gallery oeuvre */
/* gallery foto */

.gallery {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-around;
    align-items: center;
}
.gallery img {
    max-width: 340px;
    padding: 5px 10px;
    box-shadow: 3px 3px 3px rgb(160, 160, 160), 3px 3px 3px inset rgb(183, 183, 187);
    padding: 30px;
    margin: 22px auto;
    max-height: 385px;
}
@media only screen and (max-width: 800px) {
    .gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .gallery img {
        max-width: 306px;
        padding: 0;
        box-shadow: 3px 3px 3px rgb(160, 160, 160), 3px 3px 3px inset rgb(183, 183, 187);
        margin: 10px 0;
        max-height: 440px;
    }
}

/* gallery foto */
